# DOMAIN_WHITELIST_ITEM has 8 slots right now (though this can be changed)
DOMAIN_WHITELIST_ITEM_01=client:5001
DOMAIN_WHITELIST_ITEM_02=admin:5002
DOMAIN_WHITELIST_ITEM_03=server:5000
DOMAIN_WHITELIST_ITEM_04=172.28.1.2:5001
DOMAIN_WHITELIST_ITEM_05=172.28.1.3:5002
DOMAIN_WHITELIST_ITEM_05=172.28.1.6:5000

ADMIN_EMAILS=["foo@bar.com"]
ADMIN_EMAIL_DATA_EXPORT=[]
ADMIN_EMAIL_DATA_EXPORT_TEST=[]
ADMIN_EMAIL_EMAIL_TEST=[]
ADMIN_UIDS=[1]
AKISMET_ANTISPAM_API_KEY={{AKISMET_ANTISPAM_API_KEY}}
APPLICATION_NAME=PolisWebServerBeta

DATABASE_FOR_READS_NAME=DATABASE_URL
POSTGRES_DB=polis-dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@db:5432/polis-dev
#DATABASE_URL=postgres://your_pg_username:your_pg_password@localhost:5432/your_pg_database_name

DEV_MODE=true
DISABLE_INTERCOM=true
DOMAIN_OVERRIDE=localhost:5000
INITIAL_POLLING_TIMESTAMP=1459882373802

MAILGUN_API_KEY={{MAILGUN_API_KEY}}
MAILGUN_DOMAIN={{MAILGUN_DOMAIN}}
MAILGUN_PUBLIC_KEY={{MAILGUN_PUBLIC_KEY}}
MAILGUN_SMTP_LOGIN={{MAILGUN_SMTP_LOGIN}}
MAILGUN_SMTP_PASSWORD={{MAILGUN_SMTP_PASSWORD}}
MAILGUN_SMTP_PORT=587
MAILGUN_SMTP_SERVER=smtp.mailgun.org

MATH_ENV=dev
POLIS_FROM_ADDRESS={{POLIS_FROM_ADDRESS}

PORT=5000
STATIC_FILES_ADMINDASH=admin
STATIC_FILES_ADMINDASH_PORT=5002
STATIC_FILES_HOST=client
STATIC_FILES_PORT=5001
STRIPE_SECRET_KEY={{STRIPE_SECRET_KEY}
USE_AWS_SES=false
USE_MAILGUN_JS=true


